@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playwrite+IN:wght@100..400&display=swap");
/********placeHolder********/
body {
  font-family: "Jost", serif;
}

.slider_main {
  display: block;
  /* Ensure the dots are visible */
}
.slider_main .slider1 {
  background: linear-gradient(217deg, rgba(237, 139, 28, 0.9584208683) 13%, rgba(202, 36, 74, 0.9612219888) 37%, rgba(146, 55, 117, 0.9584208683) 54%, rgba(2, 104, 228, 0.9668242297) 90%);
  height: 100vh;
  transition: 0.3s all ease-in-out;
}
.slider_main .slick-list {
  height: 100%;
  transition: 0.3s all ease-in-out;
}
.slider_main .slick-list .slick-track {
  height: 100%;
}
.slider_main .slider_img {
  height: 300px;
}
.slider_main .slider_img img {
  width: 100%;
  height: 100%;
}
.slider_main h1 {
  font-family: "Playwrite IN", serif;
  font-weight: 600;
  color: #fff;
  font-size: 30px;
}
.slider_main p {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  width: 70%;
  margin: 0 auto;
}
.slider_main .slick-dots {
  position: absolute;
  bottom: 10px;
  /* Adjust position */
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
}
.slider_main .slick-dots li.slick-active {
  background-color: #fff;
  height: 5px;
  width: 30px;
  border-radius: 15px;
  transition: 0.3s all ease-in-out;
}
.slider_main .slick-dots li {
  background-color: #fff;
  height: 5px;
  width: 5px;
  border-radius: 15px;
  transition: 0.3s all ease-in-out;
}
.slider_main .slick-dots li.slick-active button:before {
  display: none;
}
.slider_main .slick-dots li button:before {
  display: none;
}

.login h2 {
  font-family: "Playwrite IN", serif;
  font-weight: 600;
  color: #fff;
  font-size: 30px;
  background: linear-gradient(217deg, rgba(237, 139, 28, 0.9584208683) 13%, rgba(202, 36, 74, 0.9612219888) 37%, rgba(146, 55, 117, 0.9584208683) 54%, rgba(2, 104, 228, 0.9668242297) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 3px;
}
.login form {
  width: 100%;
}
.login form h3 {
  font-size: 25px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}
.login form label {
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6705882353);
}
.login form input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px 0px;
}
.login form input:-internal-autofill-selected {
  background-color: transparent !important;
}
.login form .forget {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8078431373);
  border: none;
  background-color: transparent;
}
.login form .submit_btn {
  border: none;
  background-color: transparent;
  padding: 8px 50px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  border: 1px solid #000;
  transition: 0.3s all ease-in-out;
}
.login form .submit_btn:hover {
  background: linear-gradient(217deg, rgba(237, 139, 28, 0.9584208683) 13%, rgba(202, 36, 74, 0.9612219888) 37%, rgba(146, 55, 117, 0.9584208683) 54%, rgba(2, 104, 228, 0.9668242297) 90%);
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
  color: #fff;
}
.login form .line_or {
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6705882353);
  position: relative;
}
.login form .line_or:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background: rgba(0, 0, 0, 0.2862745098);
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
  border-radius: 5px;
}
.login form .line_or:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background: rgba(0, 0, 0, 0.2862745098);
  top: 50%;
  right: 23px;
  transform: translateY(-50%);
  border-radius: 5px;
}
.login form .google_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 15px;
  border: 1px solid #000;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: transparent;
  border-radius: 23px;
}
.login form .new_account {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8078431373);
}
.login form .new_account button {
  border: none;
  background-color: transparent;
  color: blue;
}
.login .left_login {
  height: 100vh;
  display: flex;
  /* Hide scrollbar but keep scrolling */
}
.login .left_login .main_left {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}
@media only screen and (max-width: 991.98px) {
  .login .left_login .main_left {
    width: 80%;
  }
}
@media only screen and (max-width: 1200.98px) {
  .login .left_login .main_left {
    width: 60%;
  }
}
@media only screen and (max-width: 1500.98px) {
  .login .left_login .main_left {
    width: 50%;
  }
}
@media only screen and (max-width: 2000.98px) {
  .login .left_login .main_left {
    width: 50%;
  }
}
.login .left_login .main_left::-webkit-scrollbar {
  display: none;
}
.login .left_login .main_left {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  /* Scroll thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
  /* Hover effect */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000 #f1f1f1;
}

.error-pop-up {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ee2c1e;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  animation: slideIn 0.5s ease-out;
}

.successpop-up {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  animation: slideIn 0.5s ease-out;
}

.error-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.error-message {
  font-size: 16px;
  font-weight: bold;
}

.success-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.success-message {
  font-size: 16px;
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
.global_loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.56);
  z-index: 98;
  /* Cube Wrapper */
}
@keyframes folding {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
.global_loader .cube-folding {
  width: 50px;
  height: 50px;
  display: inline-block;
  transform: rotate(45deg);
  font-size: 0;
}
.global_loader .cube-folding span {
  position: relative;
  width: 25px;
  height: 25px;
  transform: scale(1.1);
  display: inline-block;
}
.global_loader .cube-folding span::before {
  content: "";
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 25px;
  transform-origin: 100% 100%;
  animation: folding 2.5s infinite linear both;
  z-index: 9898;
}
.global_loader .cube-folding .leaf2 {
  transform: rotateZ(90deg) scale(1.1);
}
.global_loader .cube-folding .leaf2::before {
  animation-delay: 0.3s;
  background-color: #e6e6e6;
}
.global_loader .cube-folding .leaf3 {
  transform: rotateZ(270deg) scale(1.1);
}
.global_loader .cube-folding .leaf3::before {
  animation-delay: 0.9s;
  background-color: #e6e6e6;
}
.global_loader .cube-folding .leaf4 {
  transform: rotateZ(180deg) scale(1.1);
}
.global_loader .cube-folding .leaf4::before {
  animation-delay: 0.6s;
  background-color: #cccccc;
}
.global_loader .cube-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  text-align: center;
  z-index: 989;
}
.global_loader .cube-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  width: 90px;
  height: 6px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  filter: blur(2px);
  border-radius: 100%;
  animation: shadow 0.5s ease infinite alternate;
}
.global_loader .cube-wrapper .loading {
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: #fff;
  padding-top: 3px;
  position: relative;
  top: 25px;
  z-index: 2;
  animation: text 0.5s ease infinite alternate;
}
.global_loader .loading::after {
  content: " ";
  display: inline-block;
  width: 10px;
  text-align: left;
  animation: dot-anim 1.5s steps(4, end) infinite;
}
@keyframes dot-anim {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

.email_verify {
  width: -moz-fit-content;
  width: fit-content;
  flex-shrink: 0;
  background-color: transparent;
  color: green;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  font-size: 16px;
  font-weight: 500;
}

.reactEasyCrop_CropArea {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0 0 0 9999em;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 300px !important;
  height: 300px !important;
  border-radius: 500px;
}

.side_bar {
  border-right: 1px solid #000;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}
@media only screen and (max-width: 991.98px) {
  .side_bar {
    position: fixed;
    background: #fff;
    width: 0;
    z-index: 989;
  }
}
.side_bar .profile {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.side_bar h3 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.side_bar .list_user h1 {
  font-size: 18px;
}
.side_bar .list_user button {
  border: none;
  background-color: transparent;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.28);
  padding: 8px;
  border-radius: 5px;
}
.side_bar .list_user button .user-profile {
  width: 45px;
  height: 45px;
}
.side_bar .list_user button p {
  font-size: 14px;
}
.side_bar .list_user .active_ul {
  background-color: #007bff;
  color: #fff;
}
.side_bar .list_user .active_ul h3 {
  color: #fff;
}
.side_bar .logout {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ee2c1e;
  font-size: 20px;
  border: none;
  background-color: transparent;
}

.chat_box .chat_header {
  padding: 20px 0px;
  border-bottom: 1px solid #000;
}
.chat_box .chat_header .user-profile {
  width: 45px;
  height: 45px;
}
.chat_box .chat_header h1 {
  font-size: 20px;
}
.chat_box .chat_header .calls button {
  border: none;
  background-color: transparent;
  padding: 0;
}
.chat_box .main_chat {
  height: 81vh;
}
.chat_box .main_chat ul {
  height: 70vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chat_box .main_chat .chat-bubble {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
  font-size: 14px;
  position: relative;
  word-wrap: break-word;
}
.chat_box .main_chat .received {
  background: #f1f1f1;
  color: #333;
  align-self: flex-start;
}
.chat_box .main_chat .received a {
  color: #333;
}
.chat_box .main_chat .sent {
  background: #007bff;
  color: white;
  align-self: flex-end;
}
.chat_box .main_chat .sent a {
  color: white;
}
.chat_box .main_chat .chat-bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
}
.chat_box .main_chat .received::after {
  left: -8px;
  border-width: 8px 8px 0 0;
  border-color: #f1f1f1 transparent transparent transparent;
}
.chat_box .main_chat .sent::after {
  right: -8px;
  border-width: 8px 0 0 8px;
  border-color: #007bff transparent transparent transparent;
}
.chat_box .main_chat form {
  position: relative;
  z-index: 98;
}
.chat_box .main_chat form button {
  border: none;
  background-color: #000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  padding: 0;
  color: #fff;
  flex-shrink: 0;
}
.chat_box .main_chat form input {
  height: 40px;
  padding: 0px 10px;
  border: 1px solid #000;
}

.jlhome {
  background-color: #2b3767;
}
.jlhome .jlhome_box {
  background-color: #fff;
  padding: 25px;
  overflow: hidden;
}
.jlhome .jlhome_box h3 {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  text-align: center;
}
.jlhome .jlhome_box p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.jlhome .jlhome_box .jl_home_img {
  height: 150px;
}

.notification_center h3 {
  font-size: 35px;
  font-weight: 500;
  color: #000;
}
.notification_center p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.notification_center button {
  background-color: transparent;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.368627451);
  margin: 0 auto;
}
.notification_center button h4 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4666666667);
}
.notification_center button h3 {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  text-decoration: underline;
}

.border_home {
  display: inline-block;
  position: relative;
  background: none;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.09);
  overflow: hidden;
  border-radius: 20px;
  transition: 0.3s all ease-in-out;
}
.border_home:hover {
  transform: translateY(0) rotateX(4deg) rotateY(15deg);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  transition: 0.3s all ease-in-out;
}

.close_nav {
  display: none;
}
@media only screen and (max-width: 991.98px) {
  .close_nav {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 9898;
    background-color: transparent;
    border: none;
  }
}

.h-100vh {
  height: 100vh;
}

.main_loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_loader .loader {
  width: 25px;
  aspect-ratio: 1;
  display: grid;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  border-right-color: #fff;
  animation: l15 1s infinite linear;
}
.main_loader .loader::before,
.main_loader .loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.main_loader .loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}

.preview-container {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 200px;
  background: #000;
  padding: 15px;
  border-radius: 10px;
}
.preview-container button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px !important;
  height: 25px !important;
  font-size: 10px;
  background: #fff !important;
}

.word {
  word-wrap: break-word;
}

.testimonial {
  position: relative;
}
.testimonial .slider_box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.39);
}
.testimonial .slider_box p {
  font-size: 18px;
  line-height: 24px;
  color: #212121;
  font-weight: 400;
}
.testimonial .slider_box p span {
  font-size: 16px;
}
.testimonial .slider_box h4 {
  font-size: 20px;
  color: #212121;
  font-weight: 500;
}
.testimonial .slider_box .star_icon svg {
  fill: #f2b001;
  stroke: #f2b001;
}
.testimonial::before {
  position: absolute;
  content: "";
  width: 30%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 33;
  pointer-events: none;
  background: linear-gradient(to right, rgb(255, 255, 255) 26%, rgba(255, 255, 255, 0.67) 49%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}
.testimonial::after {
  position: absolute;
  content: "";
  width: 30%;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 33;
  pointer-events: none;
  background: linear-gradient(to left, rgb(255, 255, 255) 26%, rgba(255, 255, 255, 0.67) 49%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.call_pop {
  position: absolute;
  top: 50px;
  width: 65%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9898;
  background: rgb(255, 255, 255) !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.56) !important;
  padding: 10px 20px !important;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  background-clip: padding-box;
  -moz-backdrop-filter: blur(20px);
}
.call_pop .user-profile {
  height: 50px;
  width: 50px;
}
.call_pop .call_btn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
  padding: 13px !important;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call_pop .call_btn.answer {
  background-color: green !important;
  animation: AcceptCall 0.5s infinite;
}
.call_pop .call_btn.answer::before,
.call_pop .call_btn.answer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #44bd32;
  animation: calling 2s ease-in-out infinite;
}
.call_pop .call_btn.answer::after {
  animation: calling 2s ease-in-out 0.35s infinite;
}
@keyframes calling {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  100% {
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    opacity: 0;
  }
}
.call_pop .call_btn.end {
  background-color: red !important;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.video-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.video-box p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #fff;
}

video {
  background: #000;
  border: 2px solid #444;
}/*# sourceMappingURL=main.css.map */